/*
#e6e6df, #e8d684, #ab8965, #545141, #4c8f4d, #9fcf88
*/

body {
  background-color: #e6e6df;
  font-size: 18px;
  font-family: 'Graduate', cursive;
  color: #545141;
  text-align: center;
}

h1 {
  text-align: center;
  color: #ab8965;
  margin-top: 30px;
  margin-bottom: 8px;
}

 .author {
  font-size: 12px;
  margin-bottom: 16px;
 }

#gamePlayArea {
}

#letterArea {

}

#lettersUsed {

}

#guessesLeftBox {

}

#hangmanArea {
  margin: 20px auto;
}

#hangmanCanvas {
  margin: 0 auto;
  width: 80%;
  height: 360px;
  background: #e8d684;
}

#answerArea {
  font-size: 24px;
  letter-spacing: 10px;
}

#guessBox {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

#messageBox {
  font-size: 16px;
  color: #e83642;
}

input {
  width: 80px;
  border: 5px solid white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 15px;
  background: rgba(255,255,255,0.5);
}

#gameControlArea{
  float: left;
  width: 17%;
  margin-top: 80px;
  margin-left: 16px;
}

.button {
  float: left;
  margin: 10px auto;
  font-family: 'Londrina Shadow', cursive;
  letter-spacing: 2px;
  font-size: 16px;
  color: white;
  padding: 10px;
  background-color: #4c8f4d;
  border: 1px solid #367938;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.button:hover {
  background-color: #9fcf88;
  border: 1px solid #367938;
 }

 .restart {
  float: none;
  font-size: 1.2em;
 }